! /etc/keepalived/keepalived.conf
! {{ansible_managed}}

{% if keepalived_types is defined %}
    {% for keepalived_type in keepalived_types %}
            vrrp_script chk_{{keepalived_type}} {
                script "pidof {{keepalived_type}}"
                interval 2
            }
    {% endfor %}
{% endif %}




vrrp_instance {{keepalived_instance}} {
    state MASTER
    interface {{keepalived_iface}}
    virtual_router_id 51
    priority {{keepalived_priority}}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{keepalived_auth_pass}}
    }

    virtual_ipaddress {
        {{keepalived_virtualip}}
    }

{% if keepalived_types is defined %}
    track_script {
        {% for keepalived_type in keepalived_types %}
            chk_{{keepalived_type}}
        {% endfor %}
    }
{% endif %}

}